body{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    max-width: fit-content;
    align-content: center;
}

header img{
    max-width: 1400px;
    object-fit: cover;
    align-items: center;
}

section.Testata h1{
    padding-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30pt;
}

main, footer{
padding-top: 50px;
max-width: 1200px;
align-content: center;
margin: 50px;
}

main img{
    max-width: 580px;
    max-height: 480px;
    margin: auto;
    padding: 20px;
    }
    
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    padding-top: 20px;
    font-size: 20pt;
}

section.Tasti a{
    text-decoration: none;
    color: black;
}

section.Tasti a:hover{
        color: #db9646;
        text-decoration: underline;
    }

    main img{
        max-width: 500px;
        object-fit: fill;
    }

section.Introduzione{
    max-width: 500px;
    padding-top: 70px;
}

section.Immagineintro{
    max-width: 500px;
}

section.Immagineintro p{
    padding-left: 20px;
}

section.Intro {
    display: flex;
    justify-content: space-between;
}

section.Fotosal img, p{
    max-width: 500px;
    align-content: left;
}

section.Scrittasal h2, p{
    max-width: 500px;
    align-content: right;
}

section.Scrittasal {
    padding-top: 80px;
    text-align: right;
}

section.Scrittasal p{
    padding-bottom: 5px;
}

section.Salato {
    display: flex;
    justify-content:space-between;
}

section.Testodolce{
    max-width: 500px;
    padding-top: 80px;
}

section.Testodolce p{
    padding-bottom: 5px;
}

section.Fotodolce{
    max-width: 500px;
}

section.Fotodolce p{
    padding-left: 20px;
}

section.Dolce {
    display: flex;
    justify-content: space-between;
}

section.Fotoconcl img, p{
    max-width: 500px;
    align-content: left;
}

section.Testoconcl h2, p{
    max-width: 500px;
    align-content: right;
}

section.Testoconcl{
    padding-top: 80px;
    padding-left: 50px;
    text-align: right;
}

section.Testoconcl p{
    padding-bottom: 5px;
}

section.Conclusione {
    display: flex;
    justify-content:space-between;
}

section.Lista1 ul {
    list-style: none;
    max-width: 500px;
    font-size: 10pt;
}

section.Lista2 ul{
    list-style: none;
    max-width: 500px;
    font-size: 10pt;
}

section.Footer {
    padding-bottom: 100px;
    display: flex;
align-content: center;
padding-left: 500px;
}

section.Footer a{
    text-decoration: none;
    color: black;
    display: list-item;
}

section.Footer a:hover{
        color: #db9646;
        text-decoration: underline;
    }

    @media (max-width: 800px) {
        body {
            background: rgb(236, 218, 134);
        }
        
    }